
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    .hidden {
        display: none;
    }
</style>
<div class="section wallet-card-section pt-1">
    <div class="wallet-card">
        <!-- Balance -->
        <div class="balance">
            <div class="left">
                <span class="title"></span>
                <h1 class="total">Settlement &amp; Complaints</h1>
            </div>
            <div class="right">
                @*<a href="#" class="button" data-toggle="modal" data-target="#depositActionSheet">
                        <ion-icon name="add-outline"></ion-icon>
                    </a>*@
            </div>
        </div>
        <!-- * Balance -->
    </div>
</div>

<div class="section mt-2">
    <div class="section-title">
        <blockquote>
            Kindly use either of the two tabs below to lodge your complaints and or correct your bank account information.
        </blockquote>
    </div>
    <div class="card">
        <div class="card-body">
            <ul class="nav nav-tabs style1" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#overview2" role="tab">
                        Bank Account Settlement
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#cards2" role="tab">
                        Others Complaints
                    </a>
                </li>

            </ul>
            <div class="tab-content mt-2">
                <div class="tab-pane fade show active" id="overview2" role="tabpanel">
                    <blockquote>
                        To resolve issues relating to your bank account details, kindly provide the corrected bank account
                        details using the form below. (<i>
                            Note that the account name must be the same with the name previously
                            entered
                        </i>).
                    </blockquote>
                    <div class="card">
                        <div class="card-body">
                            <form>
                                <div class="form-group basic animated">
                                    <div class="input-wrapper">
                                        <label class="label" for="bank_name">Bank Name</label>
                                        <select class="form-control" id="bank_name">
                                            <option value="">Select Bank Name</option>
                                            <option value="Access Bank Plc">Access Bank Plc</option>
                                            <option value="Citibank Nigeria Limited">Citibank Nigeria Limited</option>
                                            <option value="Ecobank Nigeria Plc">Ecobank Nigeria Plc</option>
                                            <option value="Fidelity Bank Plc">Fidelity Bank Plc</option>
                                            <option value="First Bank Nigeria Limited">First Bank Nigeria Limited</option>
                                            <option value="First City Monument Bank Plc">First City Monument Bank Plc</option>
                                            <option value="Globus Bank Limited">Globus Bank Limited</option>
                                            <option value="Guaranty Trust Bank Plc">Guaranty Trust Bank Plc</option>
                                            <option value="Heritage Banking Company Ltd">Heritage Banking Company Ltd</option>
                                            <option value="Key Stone Bank">Key Stone Bank</option>
                                            <option value="	Polaris Bank">	Polaris Bank</option>
                                            <option value="Providus Bank">Providus Bank</option>
                                            <option value="Stanbic IBTC Bank Ltd">Stanbic IBTC Bank Ltd</option>
                                            <option value="Standard Chartered Bank Nigeria Ltd">Standard Chartered Bank Nigeria Ltd</option>
                                            <option value="Sterling Bank Plc">Sterling Bank Plc</option>
                                            <option value="SunTrust Bank Nigeria Limited">SunTrust Bank Nigeria Limited</option>
                                            <option value="Titan Trust Bank Ltd">Titan Trust Bank Ltd</option>
                                            <option value="Union Bank of Nigeria Plc">Union Bank of Nigeria Plc</option>
                                            <option value="United Bank For Africa Plc">United Bank For Africa Plc</option>
                                            <option value="Unity Bank Plc">Unity Bank Plc</option>
                                            <option value="Wema Bank Plc">Wema Bank Plc</option>
                                            <option value="Zenith Bank Plc">Zenith Bank Plc</option>
                                        </select>
                                        <i class="clear-input">
                                            <ion-icon name="close-circle"></ion-icon>
                                        </i>
                                    </div>
                                    <div class="input-info color-green-dark" style="line-height:normal">[This should be the name of the bank you want to receive money for this transaction]</div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <hr />
                    <div class="card">
                        <div class="card-body">
                            <form>
                                <div class="form-group basic animated">
                                    <div class="input-wrapper">
                                        <label class="label" for="account_name">Bank Account Name</label>
                                        <input type="text" class="form-control" id="account_name"
                                               placeholder="Enter the Bank Account Name">
                                        <i class="clear-input">
                                            <ion-icon name="close-circle"></ion-icon>
                                        </i>
                                    </div>
                                    <div class="input-info color-green-dark" style="line-height:normal">[Please note the name of the Bank Account must be the same (or at least have 2 matching names) as in the initial transaction's Bank details.]</div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <hr />
                    <div class="card">
                        <div class="card-body">
                            <form>
                                <div class="form-group basic animated">
                                    <div class="input-wrapper">
                                        <label class="label" for="account_number">Bank Account Number</label>
                                        <input type="tel" onkeyup="if (/\D/g.test(this.value)) this.value = this.value.replace(/\D/g,'')" maxlength="10" class="form-control" id="account_number"
                                               placeholder="Enter the Bank Account Number">
                                        <i class="clear-input">
                                            <ion-icon name="close-circle"></ion-icon>
                                        </i>
                                    </div>
                                    <div class="input-info color-green-dark" style="line-height:normal">[This should be the bank account number into which money for this transaction will be paid]</div>
                                </div>
                            </form>
                        </div>
                    </div>
                    @*<hr />

        <div class="card">
            <div class="card-body">
                <form>
                    <div class="form-group basic">
                        <div class="input-wrapper">
                            <label class="label" for="agreed_price">Transaction Amount</label>
                            <input type="text" class="form-control" id="agreed_price" onkeyup="if (/\D/g.test(this.value)) this.value = this.value.replace(/\D/g,'')" onblur="javascript: formatPrice();" placeholder="0.00">
                            <i class="clear-input">
                                <ion-icon name="close-circle"></ion-icon>
                            </i>
                        </div>
                        <div class="input-info color-green-dark" style="line-height:normal">This is the amount involved in this transaction</div>
                    </div>
                </form>
            </div>
        </div>

        <hr />
        <div class="card">
            <div class="card-body">
                <form>
                    <div class="form-group basic animated">
                        <div class="input-wrapper">
                            <label class="label" for="transaction_description">Transaction Description</label>
                            <textarea id="transaction_description" rows="2" class="form-control"
                                      placeholder="Transaction Description"></textarea>
                            <i class="clear-input">
                                <ion-icon name="close-circle"></ion-icon>
                            </i>
                        </div>
                        <div class="input-info color-green-dark" style="line-height:normal">[The name and quantity of the item purchased. E.G 1 Brand new Samsung Note 10 android phone]</div>
                    </div>
                </form>
            </div>
        </div>*@
                    <hr />
                    <div class="card">
                        <div class="card-body">
                            <form>
                                <div class="form-group basic animated">
                                    <div class="input-wrapper">
                                        <label class="label" for="transaction_number">Transaction Number</label>
                                        <input type="tel" id="transaction_number" class="form-control" onkeyup="if (/\D/g.test(this.value)) this.value = this.value.replace(/\D/g,'')" maxlength="6"
                                               placeholder="Enter the Transaction Number" />
                                        <i class="clear-input">
                                            <ion-icon name="close-circle"></ion-icon>
                                        </i>
                                    </div>
                                    <div class="input-info color-green-dark" style="line-height:normal">[The transaction number for the transaction you're trying to reconcile]</div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <hr />
                    <div class="card">
                        <div class="card-body">
                            <form>
                                <div class="form-group basic animated">
                                    <label class="label" for="transaction_date">Transaction Date</label>
                                    <div class="input-wrapper">
                                        <label class="label" for="transaction_date">Transaction Date</label>
                                        <input type="text" id="transaction_date" class="form-control"
                                               placeholder="mm-dd-yyyy" onfocus="(this.type='date')" onblur="formatDate()" />
                                        <i class="clear-input">
                                            <ion-icon name="close-circle"></ion-icon>
                                        </i>
                                    </div>
                                    <div class="input-info color-green-dark" style="line-height:normal">[Date of entering the transaction unto our system]</div>
                                </div>
                            </form>
                        </div>
                    </div>


                    <div class="section mt-2">
                        <div class="section-title"></div>
                        <div class="card">
                            <div class="card-body">
                                <div class="custom-control custom-checkbox d-inline">
                                    <input type="checkbox" class="custom-control-input" id="chkTOC" onclick="javascript: showReconSubmitButton();" />
                                    <label class="custom-control-label p-0" for="chkTOC"></label>
                                </div>
                                By checking this box, you agree to our <a href="#" data-toggle="modal" data-target="#ModalBasic">terms of contract and use</a>.

                            </div>
                        </div>
                    </div>

                    <div class="section mt-2">
                        <div class="section-title"></div>
                        <div class="card">
                            <div class="card-body">
                                <button type="button" id="btnSettlementSubmit" disabled class="btn btn-primary btn-block shadowed">SUBMIT</button>
                                <button class="btn btn-primary btn-block shadowed hidden" type="button" disabled id="btnProgress">
                                    <span class="spinner-border spinner-border-sm mr-05" role="status" aria-hidden="true"></span>
                                    Processing...
                                </button>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="cards2" role="tabpanel">
                    <blockquote>
                        To lodge complaints relating to all issues other than correction of bank account details, kindly use the
                        form provided below
                    </blockquote>
                    <div class="card">
                        <div class="card-body">
                            <form>
                                <div class="form-group basic animated">
                                    <div class="input-wrapper">
                                        <label class="label" for="comp_transaction_number">Transaction Number</label>
                                        <input type="tel" id="comp_transaction_number" class="form-control" onkeyup="if (/\D/g.test(this.value)) this.value = this.value.replace(/\D/g,'')" maxlength="6"
                                               placeholder="Enter the Transaction Number" />
                                        <i class="clear-input">
                                            <ion-icon name="close-circle"></ion-icon>
                                        </i>
                                    </div>
                                    <div class="input-info color-green-dark" style="line-height:normal">[Enter the Transaction Number for the transaction you want to lodge a complaint for.]</div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <hr />
                    <div class="card">
                        <div class="card-body">
                            <form>
                                <div class="form-group basic animated">
                                    <div class="input-wrapper">
                                        <label class="label" for="comp_description">Complaints</label>
                                        <textarea id="comp_description" rows="2" class="form-control"
                                                  placeholder="Enter Your Complaints"></textarea>
                                        <i class="clear-input">
                                            <ion-icon name="close-circle"></ion-icon>
                                        </i>
                                    </div>
                                    <div class="input-info color-green-dark" style="line-height:normal">[ Describe your complaints  ]</div>
                                </div>
                            </form>
                        </div>
                    </div>


                    <div class="section mt-2">
                        <div class="section-title"></div>
                        <div class="card">
                            <div class="card-body">
                                <div class="custom-control custom-checkbox d-inline">
                                    <input type="checkbox" class="custom-control-input" id="chkTOComp" onclick="javascript: showReconSubmitCompButton();" />
                                    <label class="custom-control-label p-0" for="chkTOComp"></label>
                                </div>
                                By checking this box, you agree to our <a href="#" data-toggle="modal" data-target="#ModalBasic">terms of contract and use</a>.

                            </div>
                        </div>
                    </div>

                    <div class="section mt-2">
                        <div class="section-title"></div>
                        <div class="card">
                            <div class="card-body">
                                <button type="button" id="btnSettlementCompSubmit" disabled class="btn btn-primary btn-block shadowed">SUBMIT</button>
                                <button class="btn btn-primary btn-block shadowed hidden" type="button" disabled id="btnCompProgress">
                                    <span class="spinner-border spinner-border-sm mr-05" role="status" aria-hidden="true"></span>
                                    Processing...
                                </button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>





<!-- DialogIconedSuccess -->
<div class="modal fade dialogbox" id="DialogIconedSuccess" data-backdrop="static" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-icon text-success">
                <ion-icon name="checkmark-circle"></ion-icon>
            </div>
            <div class="modal-header">
                <h5 class="modal-title">Details received!</h5>
            </div>
            <div class="modal-body">
                Your details have been received. We will resolve this within 48hrs. Thank you for using and trusting Brigho. <br />
            </div>
            <div class="modal-footer">
                <div class="btn-inline">
                    <a href="/seller" class="btn">CLOSE</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- * DialogIconedSuccess -->
<!-- DialogIconedDanger -->
<div class="modal fade dialogbox" id="DialogIconedDanger" data-backdrop="static" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-icon text-danger">
                <ion-icon name="close-circle"></ion-icon>
            </div>
            <div class="modal-header">
                <h5 class="modal-title">Error</h5>
            </div>
            <div class="modal-body">
                There is something wrong. please try again.
            </div>
            <div class="modal-footer">
                <div class="btn-inline">
                    <a href="#" class="btn" data-dismiss="modal">CLOSE</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- * DialogIconedDanger -->
<!-- DialogIconedDanger -->
<div class="modal fade dialogbox" id="DialogIconedAllFieldsDanger" data-backdrop="static" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-icon text-danger">
                <ion-icon name="close-circle"></ion-icon>
            </div>
            <div class="modal-header">
                <h5 class="modal-title">Error</h5>
            </div>
            <div class="modal-body">
                <span id="errMsg"></span>. All fields are required!
            </div>
            <div class="modal-footer">
                <div class="btn-inline">
                    <a href="#" class="btn" data-dismiss="modal">CLOSE</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- * DialogIconedDanger -->
<!-- DialogIconedDanger -->
<div class="modal fade dialogbox" id="DialogIconedInvalidAccount" data-backdrop="static" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-icon text-danger">
                <ion-icon name="close-circle"></ion-icon>
            </div>
            <div class="modal-header">
                <h5 class="modal-title">Error</h5>
            </div>
            <div class="modal-body">
                Please enter a valid account number!
            </div>
            <div class="modal-footer">
                <div class="btn-inline">
                    <a href="#" class="btn" data-dismiss="modal">CLOSE</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- * DialogIconedDanger -->
<!-- DialogIconedDanger -->
<div class="modal fade dialogbox" id="DialogIconedInvalidPhone" data-backdrop="static" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-icon text-danger">
                <ion-icon name="close-circle"></ion-icon>
            </div>
            <div class="modal-header">
                <h5 class="modal-title">Error</h5>
            </div>
            <div class="modal-body">
                Please enter a valid buyer phone number!
            </div>
            <div class="modal-footer">
                <div class="btn-inline">
                    <a href="#" class="btn" data-dismiss="modal">CLOSE</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- * DialogIconedDanger -->
<!-- Modal Basic -->
<div class="modal fade modalbox" id="ModalBasic" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Terms of Contract and Use</h5>
                <a href="javascript:;" data-dismiss="modal">Close</a>
            </div>
            <div class="modal-body">
                <p>
                    <div class="listview-title mt-2"><h2> What is Brigho?</h2></div>

                </p>
                <p style="font-weight:bold">
                    Brigho is owned by Brigho and HadRelTah ltd which is a financial intermediary company registered with
                    <span class="color-facebook">RC1760904</span> under Nigerian Law with the Corporate Affairs Commission. We can sue and be sued by our clients
                    in cases of breach of contracts between us and our clients.  We play the role of an intermediary in a
                    distribution or transaction chain and we facilitate interaction between the involved parties. We
                    specialize in performing crucial activities involved in the purchase and sale of goods in their flow
                    from producers to the ultimate buyers.

                </p>
                <p style="font-weight:bold">
                    We are not a haulage company and under no circumstances do we handle items on behalf of any Buyer or Seller.
                </p>
                <p style="font-weight:bold">
                    By agreeing to use our services and platform, there must be a prior agreement between a Seller(s) and a Buyer(s).
                    Such agreements between the Seller and the Buyer will include at a minimum
                    <ul style="font-weight:bold">
                        <li>
                            Price of the item the Seller is willing to sell and the Buyer is equally willing to buy; and
                        </li>
                        <li>
                            Cost of delivery of the item in question
                        </li>
                        <li>
                            Collection point at which the Buyer shall pick up the item being sent by the Seller
                        </li>
                    </ul>
                </p>
                <p style="font-weight:bold">
                    <div class="listview-title mt-2"><h2>Who May Use Our Services?</h2></div>

                </p>
                <p style="font-weight:bold">
                    <ul style="font-weight:bold">
                        <li>
                            Anyone who is willing to Sell or send items to a Buyer
                        </li>
                        <li>
                            Anyone who is willing to buy or receive items from a Seller who owns a Bank account domiciled in any Nigerian commercial bank
                        </li>
                        <li>
                            Anyone who is 18 years and above
                        </li>
                    </ul>
                </p>
                <p style="font-weight:bold">
                    <div class="listview-title mt-2"><h2>Service We Render</h2></div>

                </p>
                <p style="font-weight:bold">
                    Brigho serves as an intermediary between two or more people who have agreed between and/or among
                    themselves to carry out a financial transaction for the exchange or a item. We receive money from
                    the potential Buyer, safe-keep the money in our custody for both the Buyer and the Seller. Only when both
                    the Seller and the Buyer complete the transaction do we send money for the item to the Seller.
                    A completed transaction is one in which the Buyer has collected the item sent by the Seller.
                    <span class="color-blue-light">
                        For this service we take a small commission of 2.5% on every transaction.
                    </span>
                </p>
                <p style="font-weight:bold">
                    When the transaction cannot be completed between the Seller and the Buyer for whatever reason, money sent by the Buyer to Brigho for the purchase of the item is sent back to the Buyers account less the cost of delivery (which goes to the Seller) and the commission of 2.5% which goes to Brigho.
                </p>
                <p style="font-weight:bold">
                    Brigho thus operates a functional warehousing account through which a Seller and a Buyer not too familiar with one another can successfully transact a business. We provide trust and assurance between two or more unknown parties who are interested in carrying out a transaction thus enabling and encouraging Nigerians to sell their items.
                </p>
                <p style="font-weight:bold">
                    As a registered company under Nigerian Law of CAMA Act, you can be assured your money is in safe custody and
                </p>
                <p style="font-weight:bold">
                    We protect both the Buyer and the Seller from loss of funds particularly in cases where neither know themselves.
                </p>
                <p style="font-weight:bold">
                    <div class="section-title listview-title mt-2"><h2> Financial Breach of Contract Between the Seller and the Buyer</h2></div>

                </p>
                <p style="font-weight:bold">
                    <ul style="font-weight:bold">
                        <li>
                            In the event that upon sending the item, the Seller decides S/he no longer wants to consummate the transaction (for whatever reason), the total sum of money paid to Brigho by the Buyer for the purchase of the item shall be returned to the Buyer without any exception(s).
                        </li>
                        <li>
                            Should upon receipt of the item, the Buyer decides S/he no longer wants to consummate the transaction (for whatever reason), the total sum of money paid to Brigho by the Buyer for the purchase of the item shall be returned to the Buyer less the total cost of Delivery and the mandatory commission paid to Brigho.
                        </li>
                        <li>
                            In the event the Buyer is not willing to consummate the transaction upon receipt of the item, the total cost of delivery (between the Seller and the Buyer) shall be sent to the Seller.
                        </li>
                    </ul>
                </p>
                <p style="font-weight:bold">
                    <div class="section-title listview-title mt-2"><h2>Disclaimers and Limitations of Liability</h2></div>

                </p>
                <p style="font-weight:bold">
                    Brigho is only liable for money sent to us by our clients and kept in our custody and we can be entrusted with safe-keeping your hard-earned money. We understand that this is not our money but money meant either for the Buyer or/and the Seller. To this end we go to great lengths to ensure these monies are kept in the safest possible way.
                </p>
                <p style="font-weight:bold">
                    However, Brigho is not liable for any item being sent or purchased between the Buyer and the Seller. This is particularly so because we do not inspect item neither do we transport/ship/deliver items because we are not a haulage company. Liability on all items is left in the hands of the Buyer and the Seller.
                </p>
                <p style="font-weight:bold">
                    We therefore advice all Buyers to be completely satisfied with items they receive from a Seller before instructing Brigho to conclude a transaction. Brigho will not refund any money or items after a concluding confirmation has been received from one or both parties.
                </p>
                <p style="font-weight:bold">
                    <div class="section-title listview-title mt-2"><h2>Privacy & Security</h2></div>

                </p>
                <p style="font-weight:bold">
                    Brigho assures that our clients’ money is kept safe until the transaction has been consummated after which money is sent to the various parties in percentages and amount pre agreed.
                </p>
                <p style="font-weight:bold">
                    Brigho does not disclose the name, details or information of clients to anyone. However, as a registered company, should there be need for an investigation on any of our clients such details may be released to appropriate Law enforcement agencies carrying out any of such investigations.
                </p>
                <p style="font-weight:bold">
                    <div class="section-title listview-title mt-2"><h2>Indemnity</h2></div>
                </p>
                <p style="font-weight:bold">
                    HadRelTah owners of the Brigho App a registered company under Nigeria Law is an entity that can sue and can be sued. To this end, the following situations are cases where Brigho shall not take responsibilities for losses:
                </p>
                <p style="font-weight:bold">
                    <ul style="font-weight:bold">
                        <li>
                            To complete a transaction, the Buyer MUST verify the Delivery Number using the Brigho app.
                            <span class="color-blue-light">
                                It is the responsibility of the Seller and Buyer to ensure that the Buyer verifies the Delivery Number and clicks on the “Satisfied. Pay Seller” button or the “Not Satisfied. Please Refund” button on the app before releasing the items to the Buyer or returning the items to the Sellers agent.
                            </span>
                        </li>
                        <li>
                            Brigho will not take responsibility for situations where the goods are released to the Buyer without the delivery number being confirmed.
                        </li>
                        <li>
                            Users are expected to secure their Brigho accounts by ensuring that they keep their passwords secret to themselves only. Although, Brigho being a responsible organization will ensure it deploys all international technologies and standards in securing your accounts, however, we will not be liable in cases of account hacking or revealing of passwords by our clients.
                        </li>
                        <li>
                            Brigho assures that our clients’ money is kept safe until the transaction has been consummated after which money is sent to the various parties in percentages and amount pre agreed.
                        </li>
                    </ul>

                </p>
            </div>
        </div>
    </div>
</div>
<!-- * Modal Basic -->

<script>

</script>
