
@{
    ViewData["Title"] = "Index";
    Layout = null;
}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Brigho</title>
    <link rel="stylesheet" href="assets/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover" />
    <meta name="description" content="Finapp HTML Mobile Template">
    <meta name="keywords" content="bootstrap, mobile template, cordova, phonegap, mobile, html, responsive" />
    <link rel="apple-touch-icon" sizes="180x180" href="assets/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="assets/img/favicon.png" sizes="32x32">
    <link rel="shortcut icon" href="assets/img/favicon.png">
</head>

<body>

    <!-- loader -->
    <div id="loader">
        <img src="assets/img/logo-icon.png" alt="icon" class="loading-icon">
    </div>
    <!-- * loader -->
    <!-- App Header -->
    <div class="appHeader">
        <div class="left">
            <a href="javascript:;" class="headerButton goBack">
                <ion-icon name="chevron-back-outline"></ion-icon>
            </a>
        </div>
        <div class="pageTitle"></div>
        <div class="right">
        </div>
    </div>
    <!-- * App Header -->
    <!-- App Capsule -->
    <div id="appCapsule">

        <div class="section mt-2 text-center">
            <div class="card">
                <div class="card-body pt-3 pb-3">
                    @*<img src="assets/img/apple-touch-icon.png" alt="image" class="imaged w-50 ">*@
                    <h2 class="mt-2">Terms of Contract &amp; Use (ToC&U)</h2>
                </div>
            </div>
        </div>
        <hr />
        <div class="section mt-2 listview simple-listview inset">

            <div style="padding:10px">
                Brigho is owned by Brigho and HadRelTah ltd which is a financial intermediary company registered with
                <b class="color-blue-light">RC1760904</b> under Nigerian Law with the Corporate Affairs Commission. We can sue and be sued by our clients
                in cases of breach of contracts between us and our clients.  We play the role of an intermediary in a
                distribution or transaction chain and we facilitate interaction between the involved parties. We specialize
                in performing crucial activities involved in the purchase and sale of items in their flow from producers to
                the ultimate buyers.
            </div>
        </div>
        <hr />
        <div class="listview simple-listview inset">
            <p class="section mt-2" style="padding:10px">
                We are not a haulage company and under no circumstances do we handle items on behalf of any Buyer or Seller.
            </p>
            <p class="section mt-2" style="padding:10px">
                By agreeing to use our services and platform, there must be a prior agreement between a Seller(s) and a
                Buyer(s). Such agreements between the Seller and the Buyer will include at a minimum
                <ul>
                    <li>
                        Price of the item the Seller is willing to sell, and the Buyer is equally willing to buy; and
                    </li>
                    <li>
                        Cost of shipping/delivery/transportation of the item in question
                    </li>
                    <li>
                        Collection point at which the Buyer shall pick up the item being sent by the Seller.
                    </li>
                </ul>
            </p>
        </div>
        <hr />
        <div class="listview simple-listview inset">
            <hr />
            <p class="section mt-2 listview simple-listview inset">
                <h3 style="padding:10px"> Who May Use Our Services?</h3>


                <ul>
                    <li>
                        Anyone who is willing to Sell or send an item to a Buyer
                    </li>
                    <li>
                        Anyone who is willing to buy or receive an item from a Seller who owns a Bank account domiciled
                        in any Nigerian commercial bank
                    </li>
                    <li>
                        Anyone who is 18 years and above
                    </li>
                </ul>
            </p>
        </div>
        <hr />
        <div class="listview simple-listview inset">
            <p class="section mt-2 listview simple-listview inset">
                <h3 style="padding:10px">Service We Render</h3>
                <div style="padding:10px">
                    Brigho serves as an intermediary between two or more people who have agreed between and/or among themselves
                    to carry out a financial transaction for the exchange or an item. We receive money from the potential
                    Buyer, safe-keep the money in our custody for both the Buyer and the Seller. Only when both the Seller
                    and the Buyer complete the transaction do we send money for the item to the Seller. A completed transaction
                    is one in which the Buyer has collected the item sent by the Seller or a transaction that the Buyer has
                    declined or cancelled.
                    <i class="color-blue-light">
                        For this service we take a small commission of 2.5% on the item cost for every
                        transaction.
                    </i>
                </div>
            </p>

            <p class="section mt-2 listview simple-listview inset">
                When the transaction cannot be completed between the Seller and the Buyer for whatever reason,
                money sent by the Buyer to Brigho for the purchase of the item is sent back to the Buyer’s account less
                the cost of shipping/delivery/transportation (which goes to the Seller) and the commission of 2.5% which
                goes to Brigho.
            </p>
            <p class="section mt-2 listview simple-listview inset">
                Brigho thus operates a functional “warehousing” account through which a Seller and a Buyer not too familiar
                with one another can successfully transact a business. We provide trust and assurance between two or more
                unknown parties who are interested in carrying out a transaction thus enabling and encouraging individuals
                as well as SMEs to sell their items.
            </p>
            <p class="section mt-2 listview simple-listview inset">
                As a registered company under Nigerian Law of CAMA Act, you can be assured your money is in safe custody and

            </p>
            <p class="section mt-2 listview simple-listview inset">
                We protect both the Buyer and the Seller from loss of funds particularly in cases where neither know themselves.
            </p>
        </div>
        <hr />
        <div class="listview simple-listview inset">
            <p class="section mt-2 listview simple-listview inset">
                <h3 style="padding:10px">Financial Breach of Contract Between the Seller and the Buyer </h3>
                <ul>
                    <li>
                        In the event that upon sending the item, the Seller decides S/he no longer wants to consummate the
                        transaction (for whatever reason), the total sum of money paid to Brigho by the Buyer for the purchase
                        of the item shall be returned to the Buyer without any exception(s).
                    </li>
                    <li>
                        Should upon receipt of the item, the Buyer decides S/he no longer wants to consummate the transaction
                        (for whatever reason), the total sum of money paid to Brigho by the Buyer for the purchase of the item
                        shall be returned to the Buyer less the total cost of Delivery/Shipping/transportation and the
                        mandatory commission paid to Brigho.
                    </li>
                    <li>
                        In the event the Buyer is not willing to consummate the transaction upon receipt of the item, the
                        total cost of shipping/delivery/transportation (between the Seller and the Buyer) shall be sent to
                        the Seller.
                    </li>
                </ul>
            </p>
        </div>
        <hr />
        <div class="listview simple-listview inset">
            <p>
                <h3 style="padding:10px">
                    Disclaimers and Limitations of Liability
                </h3>
            </p>
            <p class="section mt-2 listview simple-listview inset">
                Brigho is only liable for money sent to us by our clients and kept in our custody and we can be entrusted
                with safe-keeping your hard-earned money. We understand that this is not our money but money meant either
                for the Buyer or/and the Seller. To this end we go to great lengths to ensure these monies are kept in the
                safest possible way.
            </p>
            <p class="section mt-2 listview simple-listview inset">
                However, Brigho is not liable for any item being sent or purchased between the Buyer and the Seller.
                This is particularly so because we do not inspect items neither do we transport/ship/deliver them because
                we are not a haulage company and are not registered or licensed to as such. Liability on all items is left
                in the hands of the Buyer and the Seller.
            </p>
            <p class="section mt-2 listview simple-listview inset">
                We therefore advice all Buyers to be completely satisfied with items they receive from a Seller before
                instructing Brigho to conclude any transaction. Brigho will not refund or pay any money or items after a
                concluding confirmation has been received from one or both parties.
            </p>
        </div>
        <hr />
        <div class="listview simple-listview inset">
            <p>
                <h3 style="padding:10px">Privacy & Security</h3>
            </p>
            <p class="section mt-2 listview simple-listview inset">
                Brigho assures that our clients’ money is kept safe until the transaction has been consummated after which
                money is sent to the various parties in percentages and amount pre agreed.
            </p>
            <p class="section mt-2 listview simple-listview inset">
                Brigho does not disclose the name, details or information of clients to anyone. However, as a registered
                company, should there be need for an investigation on any of our clients such details may be released to
                appropriate Law enforcement agencies carrying out any of such investigations.
            </p>
        </div>
        <hr />
        <div class="listview simple-listview inset">
            <p>
                <h3 style="padding:10px">Indemnity</h3>
            </p>
            <p class="section mt-2 listview simple-listview inset">
                HadRelTah owners of the Brigho App a registered company under Nigeria Law is an entity that can sue and can
                be sued. To this end, the following situations are cases where Brigho shall not take responsibilities for
                losses:

                <ol>
                    <li>
                        To complete a transaction, the Buyer MUST verify the Delivery Number using the Brigho app.
                        <cite class="color-blue-light">
                            It is the responsibility of the Seller and Buyer to ensure that the Buyer verifies the Delivery
                            Number and clicks on the “Satisfied. Pay Seller” button or the “Not Satisfied. Please Refund”
                            button on the app before releasing the items to the Buyer or returning the item to the Sellers agent.
                        </cite>
                    </li>
                    <li>
                        Brigho will not take responsibility for situations where the are released to the Buyer without the
                        delivery number being confirmed.
                    </li>
                    <li>
                        Users are expected to secure their Brigho accounts by ensuring that they keep their passwords secret
                        to themselves only. Although, Brigho being a responsible organization will ensure it deploys all
                        international technologies and standards in securing your accounts, however, we will not be liable
                        in cases of account hacking or revealing of passwords by our clients.
                    </li>
                    <li>
                        Brigho assures that our clients’ money is kept safe until the transaction has been consummated
                        after which money is sent to the various parties in percentages and amount pre agreed.
                    </li>
                </ol>
            </p>
        </div>



    </div>
    <!-- * App Capsule -->
    <!-- * App Sidebar -->
    <!-- ///////////// Js Files ////////////////////  -->
    <!-- Jquery -->
    <script src="assets/js/lib/jquery-3.4.1.min.js"></script>
    <!-- Bootstrap-->
    <script src="assets/js/lib/popper.min.js"></script>
    <script src="assets/js/lib/bootstrap.min.js"></script>
    <!-- Ionicons -->
    <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
    <!-- Owl Carousel -->
    <script src="assets/js/plugins/owl-carousel/owl.carousel.min.js"></script>
    <!-- Base Js File -->
    <script src="assets/js/base.js"></script>


</body>

</html>