
@{
    ViewData["Title"] = "Index";
    Layout = null;
}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Brigho</title>
    <link rel="stylesheet" href="assets/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover" />
    <meta name="description" content="Finapp HTML Mobile Template">
    <meta name="keywords" content="bootstrap, mobile template, cordova, phonegap, mobile, html, responsive" />
    <link rel="apple-touch-icon" sizes="180x180" href="assets/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="assets/img/favicon.png" sizes="32x32">
    <link rel="shortcut icon" href="assets/img/favicon.png">
</head>

<body>

    <!-- loader -->
    <div id="loader">
        <img src="assets/img/logo-icon.png" alt="icon" class="loading-icon">
    </div>
    <!-- * loader -->
    <!-- App Header -->
    <div class="appHeader">
        <div class="left">
            <a href="javascript:;" class="headerButton goBack">
                <ion-icon name="chevron-back-outline"></ion-icon>
            </a>
        </div>
        <div class="pageTitle"></div>
        <div class="right">
        </div>
    </div>
    <!-- * App Header -->
    <!-- App Capsule -->
    <div id="appCapsule">
        <div class="section mt-2 text-center">
            <div class="card">
                <div class="card-body pt-3 pb-3"> 
                    <h2 class="mt-2">Frequently Asked <br> Questions</h2>
                </div>
            </div>
        </div>

        <hr />
        <div class="listview simple-listview inset">
            <div class="listview-title mt-2"><h2> What is Brigho?</h2></div>
            <ul>
                <li>
                    Brigho is a financial intermediary app that is owned by Brigho and HadRelTah Limited (B&H).
                    B&H is a registered company under Nigeria Law with the Corporate Affairs Commission with registration
                    number RC1760904. Among other things, we are licensed to carry out the functions of a financial
                    intermediary between a Seller and a Buyer who have agreed between/among themselves to carry out a
                    business transaction. Being licensed enables us to be sued by our clients in cases of breach of
                    contracts between us and our clients. We therefore do not take lightly transactions we enter into
                    via our Brigho app.
                </li>
                <li>
                    We function as a middleman between a Buyer(s) and Seller(s). Brigho plays the role of an intermediary in a
                    distribution or transaction chain and we facilitate interaction between the involved parties.
                    We specialize in performing crucial activities involved in the purchase and sale of goods in their
                    flow from producers to the ultimate buyers. In pursuance of our Memorandum of Association (MoA),
                    we own and operate the app Brigho which facilitates the achievements with our MoA.

                </li>
                <li>
                    We are not a haulage company and under no circumstances do not handle items on behalf of any Buyer or Seller.
                </li>
            </ul>
        </div>
        <hr />
        <div class="listview simple-listview inset">
            <div class="listview-title mt-2"><h2> What if I do not like the Items the Seller sent to me?</h2></div>
            <ul>
                <li>
                    As a Buyer, it might be expected to once in a while receive items that you are not
                    comfortable with because they do not meet the standard you were expecting.
                    To this Brigho has no control over the quality of items that Sellers send.
                    It is expected that upon receiving the items, you inspect them and if they do
                    not meet your standard, you simply return the items by declining the transaction
                    via our Brigho app.
                </li>
                <li>
                    Once you do this, Brigho will refund you the total cost of the agreed price of the
                    items less our Commission and the cost of Delivery or sending goods.

                </li>
                <li>
                    For the Seller, as Brigho is not a logistic company, it is expected that your
                    Delivery agent ensures that the Buyer returns the items in
                    the best acceptable way without damage to your items. Kindly note that Brigho
                    will not take liability for any damaged returned items.
                </li>
            </ul>
        </div>
        <hr />
        <div class="listview simple-listview inset">
            <div class="listview-title mt-2"><h2> What if I enter a wrong Bank account detail?</h2></div>
            <ul>
                <li>
                    Brigho will always ensure that the Bank account details correspond with what you
                    and the seller agree. However, in cases where there is an error(s) in these details,
                    Brigho get in contact with Buyer or Seller to cancel the transaction and initiate a
                    new transaction with the correct and accurate details.
                </li>
                <li>
                    The Seller would then use the in-app Transaction Amendment and send an email to
                    Brigho containing the correct Bank details. Please note the name of the Bank Account
                    must be the same as in the initial transaction.
                </li>
                <li>
                    Only after this would Brigho send monies to any account
                </li>
            </ul>
        </div>
        <hr />
        <div class="listview simple-listview inset">
            <div class="listview-title mt-2"><h2> What happens if the Buyer collects the good without entering the Delivery Code?</h2></div>
            <ul>
                <li>
                    Unfortunately, Brigho has no control over the process of Delivery
                    and will only release money to the Seller when the Buyer has activated the Delivery Code.
                    It is the sole responsibility of the Buyer and Seller to ensure the delivery code is
                    entered into the Brigho app. More specifically, it is expected that the Seller must
                    ensure he receives a confirmation from Brigho as regards the use of the delivery code
                    before releasing the items to the Buyer. We expect the Seller to ensure this is
                    done before the logistic personnel releases the item to the Buyer
                </li>
            </ul>
        </div>
        <hr />
        <div class="listview simple-listview inset">
            <div class="listview-title mt-2">
                <h2>What happens if the Buyer does not like the items and decides to cancel the transaction?</h2>
            </div>
            <ul>
                <li>
                    We would not encourage anyone to pay for a good/item he or she is not satisfied with.
                    Hence, if dissatisfied with a items being purchased, kindly decline the transaction
                    via the Brigho app, and leave the good/item with the Seller’s agent. Brigho will then
                    ensure you get your refunded into your indicated Bank account less the cost of the
                    initial Delivery, an additional 50% of the cost of
                    Delivery which both go to the Seller and our commission on
                    that transaction. Kindly note that on such occasion as a dissatisfied good/item which
                    you do not want, ensure you do not use the accept the transaction via the app. If you
                    do this, based on our ToC&U, we will be forced to make full payment to the Seller for
                    the transaction.
                </li>
                <li>
                    The Seller who also pays 50% of the cost of Delivery, adds
                    the 50% of the Delivery paid by the Seller and then makes
                    payment to the logistic company to return to items back to him.
                </li>
            </ul>
        </div>
        <hr />
        <div class="listview simple-listview inset">
            <div class="listview-title mt-2">
                <h2>
                    Why do I have to pay an extra 50% of the cost of Delivery in
                    addition to my initial payment for Delivery
                </h2>
            </div>
            <ul>
                <li>
                    The initial payment for Delivery is a refund to the Seller
                    for him sending the goods to you. Remember, The Seller uses his own funds to cater for
                    this initial expense. However, in case you want to return the item, the cost of returning
                    the good/item is being shared 50-50 between the buyer and the seller. Thus, we try to
                    discourage the Seller from sending sub standard goods to the Seller and ensuring the Seller
                    receives the best possible good thus the issue of a refund is very unlikely.
                </li>

            </ul>
        </div>
        <hr />
        <div class="listview simple-listview inset">
            <div class="listview-title mt-2">
                <h2>Does Brigho take part payment or installmental payment?</h2>
            </div>
            <ul>
                <li>
                    Unfortunately, Brigho does not deal with part payment for goods. However, should a Buyer and Seller agree
                    to a part payment arrangement, Brigho will only process the agreed amount of money sent to us by the Buyer
                    and agreed to by the Seller.

                </li>

            </ul>
        </div>
        <hr />
        <div class="listview simple-listview inset">
            <div class="listview-title mt-2">
                <h2> Where will I go to pick up my items after payment to Brigho has been made?</h2>
            </div>
            <ul>
                <li>
                    Brigho is not a logistic company and is not allowed under Nigerian Law to carry out
                    delivery services. Thus, it is expected that the Seller and Buyer
                    would have agreed on their means of delivery as well as their point
                    of collection before payment is made via the Brigho App.

                </li>

            </ul>
        </div>
        <hr />
        <div class="listview simple-listview inset">
            <div class="listview-title mt-2">
                <h2>
                    What if I have paid for the items, collected them and decide I do not want the
                    items after leaving the collection point?
                </h2>
            </div>
            <ul>
                <li>
                    Kindly note that once payment has been made to the Seller for an item/good, Brigho no
                    longer has control over the transaction as it is now classified a completed transaction.
                    To this end, you must be certain you want the item/good before verifying the delivery number
                    (on the Brigho App) and picking up the item from the Seller’s agent. If you do not like the
                    item(s) at point of collection, you must cancel or decline the transaction without picking
                    them up. The moment you verify the delivery number, we are compelled by our ToC&U to make
                    payment to the Seller irrespective of what transpires afterwards.

                </li>

            </ul>
        </div>
        <div class="section mt-3 mb-3">
            <div class="card bg-primary">
                <div class="card-body text-center">
                    <h5 class="card-title">Still have question?</h5>
                    <p class="card-text">
                        Feel free to contact us
                    </p>
                    <a href="/contact" class="btn btn-dark"><ion-icon name="mail-open-outline"></ion-icon> Contact</a>
                </div>
            </div>
        </div>
    </div>
    <!-- * App Capsule -->
    <!-- * App Sidebar -->
    <!-- ///////////// Js Files ////////////////////  -->
    <!-- Jquery -->
    <script src="assets/js/lib/jquery-3.4.1.min.js"></script>
    <!-- Bootstrap-->
    <script src="assets/js/lib/popper.min.js"></script>
    <script src="assets/js/lib/bootstrap.min.js"></script>
    <!-- Ionicons -->
    <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
    <!-- Owl Carousel -->
    <script src="assets/js/plugins/owl-carousel/owl.carousel.min.js"></script>
    <!-- Base Js File -->
    <script src="assets/js/base.js"></script>


</body>

</html>